.navbar-section{
  z-index: 50;
  position: relative;
}

.dashboard-link{
  font-size: 1.25em;
  font-weight: 25;
  color: white;
  text-align: center;
}


.dashboard-link:hover{
  border-bottom: 0px;
}

.dashboard-content{
  margin-left: 400px;
  margin-right: 20px;
  margin-top: 30px;
}

.sidebarToggle{
  z-index: 100;
  position: relative;
  font-size: 3em;
  padding-top: 0px;
  margin-left: 10px;
  float: left;
  top: 50% !important;
}

.sidebarToggle:hover{
  cursor: pointer;
}

.dashboard-title{
  margin-left: 10px;
  margin-bottom: 20px;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 200px;
}

.sidenav a {
  padding: 20px 8px 20px 16px;
  text-decoration: none;
  display: block;
  border-top: 1px solid rgb(255, 255, 255);
}

.sidenav a:hover {
  background-color: #f1f1f1;
  color: #5a5a5a;
  border-bottom: 0px solid black;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}